header {
    background-color: greenyellow;
    font-size: 100px;
    display: flex;
    justify-content: center;
}

img {
    width: 30%;
}

section {
    background-color: rgb(200, 227, 160);
}
#title, #input {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 540px){

    body, h1 {
        grid-column: 1;
    }

    #todo-list{
        grid-column: 1;
    }

}
@media screen and (min-width: 540px) and (max-width: 960px){


    #todo-list{
        grid-column: 2;
    }

}

@media screen and (min-width: 960px){

    #todo-list{
        grid-column: 4;
    }

    
}